@import "compass/css3";
// @import "normalize";
@import "bootstrap-sprockets";
@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";

@import url("http://fonts.googleapis.com/css?family=Oswald:400,300,700|Roboto:400,300,500,700");

@mixin anti-aliased {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin oswald {
	font-family: 'Oswald', sans-serif;
	@include anti-aliased;
}

@mixin roboto {
	font-family: 'Roboto', sans-serif;
	@include anti-aliased;
}

$ljgreen: #C0D22E;
$dark-gray: #353535;

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

html {
	min-height: 100%;
}

body {
	background: #FFF;
	font: 14px/1.5 'Helvetica', Arial, sans-serif;

	@include anti-aliased;
}

h1, h2, h3, h4, h5 {
	font-weight: 400;
}

a {
	text-decoration: none;
}

legend {
	font-size: 1.5em;
	font-weight: 400;
	margin: 0;
}

fieldset + fieldset {
	padding-top: 0.5em;

	legend {
		padding-top: 0.15em;
	}
}

.loading #navigation .navbar-brand img {
	-webkit-animation: spin 1s infinite; /* Safari 4+ */
	-moz-animation: spin 1s infinite; /* Fx 5+ */
	-o-animation: spin 1s infinite; /* Opera 12+ */
	animation: spin 1s infinite; /* IE 10+, Fx 29+ */
}

.anti-aliased {
	@include anti-aliased;
}

#welcome {
	padding-top: 4.723em;
	color: #FFF;

	@include anti-aliased;
	@include background-image(linear-gradient(top, #03212E 0%,#00415D 100%));

	.jumbotron {
		background: transparent;
	}

	+ #wrapper #content {
		padding-top: 1em;
	}
}

.login_page {
	@include background-image(linear-gradient(top, #03212E 0%,#00415D 100%));

	#welcome {
		background: transparent;

		h1, p {
			text-align: center;
		}

		.jumbotron {
			padding-left: 0;
			padding-right: 0;
		}

		form {
			background: #FFF;
			border-radius: 10px;
			box-shadow: 0 4px 7px 4px rgba(0,0,0,0.25);
			max-width: 320px;
			padding: 0.5em 1em 0.85em;
			margin: 0 auto;
		}
	}
}

#navigation {
	// background: rgba(0,0,0,0.8);
	background: rgba(0, 33, 60, 0.86);
	border-bottom-width: 0;

	@include anti-aliased;

	&, a {
		color: #FFF;
	}

	.nav {
		> li > a {
			&:hover, &:focus {
				color: #FFF;
				background: #057DD3;
			}
		}

		> li.active > a {
			color: #FFF;
			background: #0069B5;
		}

		.open {
			> a {
				&, &:hover, &:focus {
					color: #222;
					background: #EFC100;
				}
			}
		}
	}

	.divider {
		background-color: #CAA300;
	}

	.dropdown-menu {
		background: #EFC100;

		&, a, .dropdown-header {
			color: #222;
		}
	}

	.navbar-toggle {
		border-color: #852200;

		.icon-bar {
			background-color: #852200;
		}
	}

	form {
		padding: 0.55em;
	}
}

.navbar-nav>li>a.btn {
	padding: 0.5em;
	margin: 0.5em;
}

#logOutButton {
	background: transparent;
	border-color: transparent;
	display: block;
}

#content {
	@include anti-aliased;
}

legend {
	& + .input-group {
		margin-top: 0;
	}
}

.input-group {
	margin: 1em 0;

	input {
		margin: 0;
	}
}

input {
	margin: 0.5em 0;

	&:first-child {
		margin-top: 0;
	}
}

@mixin input-base {
	border: 1px solid #EAEAEA;
	font-size: 14px;
	line-height: 1.5em;
}

// @mixin button() {
// 	background: #E9E9E9;
// 	border-width: 0;
// 	color: #222;

// 	@include box-shadow(0 -1px 0px 0px rgba(0,0,0,0.3) inset);
// 	@include background(linear-gradient(to bottom, #EAEAEA 0%,#B9B9B9 100%));
// 	@include transition-property(box-shadow, background-color);
// 	@include transition-duration(0.1s);
// 	@include anti-aliased;

// 	&:hover, &:focus {
// 		@include box-shadow(0 1px 3px 0px rgba(0, 0, 0, 0.8) inset);
// 	}

// 	&:active, &:focus {
// 		color: #FFF;

// 		@include background(linear-gradient(to bottom, #008fd9 0%,#005BCC 100%));
// 	}
// }

// input, button, .button {
// 	display: inline-block;
// 	padding: 0.5em 0.75em;

// 	@include border-radius(8px);
// 	@include input-base();
// }

// input[type=button], button, .button, input[type=color] {

// 	@include button();
// }

textarea {
	width: 100%;
}

.hidden-accessible {
	position: absolute;
	clip: rect(0, 0, 0, 0);
}

.roboto {
	font-family: 'Roboto';
}

header {

}

#content {
	padding: 4.723em 2em;
}

#client_bar {
	.input-group {
		margin: 0;
	}
}

.client-search {
	margin-right: 0;


}

.layout {
	display: table;
	width: 100%;
	.col {
		display: table-cell;
		&:first-child .col-content {
			padding-left: 0;
		}
		&:last-child .col-content {
			padding-right: 0;
		}
	}
	&.show-border .col {
		border: 1px solid #EAEAEA;
		border-right-width: 0;
		border-collapse: collapse;

		&:last-child {
			border-right-width: 1px;
		}

		.col-content {
			padding: 1em;
		}
	}
	.col-content {
		padding: 1em;
	}
	&.wid-30-70 {
		.col {
			&:nth-child(1) {
				width: 30%;
			}
			&:nth-child(2) {
				width: 70%;
			}
		}
	}
	&.wid-50-50 {
		.col {
			&:nth-child(1) {
				width: 50%;
			}
			&:nth-child(2) {
				width: 50%;
			}
		}
	}
	&.wid-33-33-33 {
		.col {
			width: 33.333%;
		}
	}
}

@import 'dataTablesBoostrap';

table {
	&.stripes, &.blues {
		th, &.dataTable thead th {
			background-color: $dark-gray;
			@include anti-aliased;
			&, a {
				color: #FFF;
			}
		}
		th, td {
			border: 1px solid #FFF;
			padding: 0.5em 0.75em;
			text-align: left;
		}
	}
	&.stripes tr {
		background: #EAEAEA;
		&:nth-child(even) {
			background: #FAFAFA;
		}
		&:hover td {
			background: #DAEFFA;
		}
	}
	&.blues tr {
		background: #C8E5F4;
		&:nth-child(even) {
			background: #DAEFFA;
		}
		&:hover td {
			background: #EAF8FF;
		}
	}
}

// Import CSV

table#csv_table_display {
	tr.has-match {
		background-color: #EAEAEA;
		display: none;

		&:nth-child(even) {
			background-color: #FAFAFA;
		}
	}

	&.display-matches tr.has-match {
		display: table-row;
	}
}

.csv-file-name {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	width: 100%;
	text-overflow: ellipsis;
}

th {
	background: #DBDBDB;
}

th, td {
	padding: 0.5em 0.75em;
	border: 1px solid #EAEAEA;
	text-align: left;
}

.label {
	padding: 0.3em 0.6em 0.3em;
	vertical-align: middle;

	@include anti-aliased;
}

// Product Pages

.navbar {
	input {
		margin: 0;
	}
}

.product-info {
	h3, h4 {
		margin-top: 0;
	}
	.catalog-image {
		border: 1px solid #EAEAEA;
		display: inline-block;
		margin: 0.45em;
		max-width: 11.6em;
		overflow: hidden;
		vertical-align: top;

		img {
			max-width: 100%;
		}
	}
}
#manage_product_bar {
	border-width: 0 0 1px;
	border-radius: 0;
}
.list-products {
	.media {
		margin-top: 0;

		.media-object {
			max-height: 2em;
			max-width: 2em;
		}
	}
}

.editor {
	overflow: scroll;
	max-height: 200px;
	min-height: 200px;
}

.typeahead.dropdown-menu {
	li {
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

#prod_description {
	overflow: scroll;
	height: 300px;
	max-height: 300px;
}

.add-order-form {
	h3 {
		margin-top: 0;
	}
}

@media (min-height: 550px) and (max-width: 360px) {
	#content {
		padding-left: 1.5em;
		padding-right: 1.5em;
	}
}

@media (min-height: 400px) {
	.login_page #welcome {
		padding-top: 0;

		.jumbotron {
			padding: 10px 0 10px;
		}
	}
}